﻿* {
    box-sizing: border-box;
}

#ide {
    display: inline-block;
    /* background: linear-gradient(to bottom, white, red); */
}

.sor {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.doboz {
    height: 60px;
    width: 60px;
    text-align: center;
}
